!!!
%html
  %head
  %title Educapsule
  = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    %section{class: 'main'}
      .right-panel
        %h1{class: 'app-title'}
          %a{href: '#'}
            EDUCAPSULE
  = javascript_include_tag 'application', 'data-turbolinks-track' => true